
<div>
  <%= link_to 'Recomendados para você 1', new_recommended_search_path %> 
  <%= link_to 'Recomendados para você', recommended_search_power_generators_path %> 
</div>
<div class="container" >
  <% @power_generators.each do |power_generator| %>
    <div class="box card power_generator-card">
      <img class="power_generator-card__img">
        <%= link_to image_tag(power_generator.image_url), power_generator %>
      </img>
      <div class="power_generator-card__body">
        <h2><%= link_to (power_generator.name.upcase), power_generator %></h2>
        <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
        <p><strong>Descrição: </strong><%= power_generator.description %></p>
      </div>
    </div>
  <% end %>
</div>

<%if @page > 0 %>
  <%= link_to 'Voltar |', power_generators_path(page: @page - 1) %>
<%end%>

<% @array_num_pages.each do |number_page|%>

  <%= link_to "#{number_page}", power_generators_path(page: (number_page - 1)) %>
<%end%>

<%if @page < @array_num_pages.last - 1 %>
  <%= link_to '| Avançar', power_generators_path(page: @page + 1) %>
<%end%>