<h1><%= @power_generator.name %></h1>

<h3>Detalhes</h3>

<p>Tipo de estrutura:</p>
<p><%= @power_generator.structure_type %></p>
<p>Descrićão</p>
<p><%= @power_generator.description %></p>
<p>Fabricante</p>
<p><%= @power_generator.manufacturer %></p>
<p>Dimenções</p>
<p><%="#{@power_generator.height} x #{@power_generator.width} x #{@power_generator.lenght}" %></p>
<p>Produção de energia(kWp)</p>
<p><%= @power_generator.kwp %></p>

<h3>Preço</h3>
<h2><%= @power_generator.price %></h2>

<%= image_tag @power_generator.image_url %>

<%= link_to 'Voltar', root_path %>



<%= form_tag(power_generator_path, method: :get) do %>
    <input class="form-control form-control-lg" type="text" placeholder="CEP" name='cep'>
    <button type="submit" class="btn btn-outline-primary btn-lg">Calcular frete</button>
<% end %>
<% if @power_generator_freight.present?%>
    <%= render "form_cost" %>
<% end %>

<h3><%= flash[:error] %></h3>
<h3><%= flash[:notice] %></h3>
